# Database
db.sqlite3
# Environment variables
.env
.env.local
.env.*.local

# Uploaded images & temp files
media/
*.jpg
*.jpeg
*.png
*.pdf

# Django
__pycache__/
*.py[cod]
*.sqlite3
*.log
staticfiles/

# Virtual env
venv/
env/
ENV/

# VSCode
.vscode/
